@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <div class="text-center">
        <h6 class="display-4">Witaj na stronie biblioteki!</h6><br />
    </div>
    <div>
        <p><b>Informacje ogólne</b></p>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit, velit placerat maximus sodales, magna dolor dictum nisl, ac gravida ligula lectus non diam. Donec dignissim neque nec ultrices dictum.
            Vivamus bibendum mattis purus, sed sagittis turpis sagittis eu. Nulla non dolor sed elit vulputate luctus id rhoncus mi.
            Proin consequat cursus leo, in mattis enim rhoncus eu. Morbi facilisis ligula vel nibh euismod porttitor.
            Duis id quam scelerisque, tristique metus non, convallis metus. Maecenas nec tristique lectus.
        </p>
        <p class="text-justify">
            Donec fermentum massa facilisis urna molestie gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Fusce porttitor eleifend lorem quis suscipit. Aenean convallis interdum dolor eget ullamcorper.
            Donec ipsum lacus, elementum ac diam tempor, euismod tristique eros.
            Quisque arcu nisl, cursus non aliquet nec, viverra id ante.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Quisque vel magna id leo laoreet lobortis. Suspendisse pharetra leo a blandit interdum.
            Sed nisi ligula, aliquam elementum maximus vitae, volutpat a magna. In at lacus eget ipsum pulvinar cursus quis eget mi.
            Morbi venenatis dolor vel lectus ullamcorper, nec ultrices lectus molestie. Integer vitae dui eu urna malesuada accumsan.
            erat volutpat.
        </p>
    </div>
    <div>
        <p><b>Dane kontaktowe</b></p>
        <b>Telefon:</b> 333 444 555<br />
        <b>E-mail:</b> biblioteka@lib.pl<br />
        <b>Adres:</b> Sosnowiec 41-303, ul. Długa 2
    </div>
</div>
